[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=azeezat
Group=azeezat
WorkingDirectory=/home/azeezat/app/src/
Environment="PATH=/home/azeezat/app/venv/bin"
EnvironmentFile=/home/azeezat/.env
ExecStart=/home/azeezat/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target